{% extends 'base.html.twig' %}

{% block title %}Accueil - Le Jardin de Lan{% endblock %}

{% block body %}

    <!-- Hero Section du template -->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Le Jardin de Lan</h1>
                <p class="lead fw-normal text-white-50 mb-0">Plantes rares et belles pour votre jardin</p>
            </div>
        </div>
    </header>

    <!-- Section Produits (on la remplira plus tard avec les plantes) -->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {# Ici on mettra une boucle sur les plantes plus tard #}
            </div>
        </div>
    </section>

{% endblock %}